# Recommendation System

In this recommendation system I have used Kaggle dataset named Post Recommendation System Here is the link of that : https://www.kaggle.com/vatsalparsaniya/post-pecommendation

It will consume a user_id and check the history or like or vote he has given to post and check other users simliarities and then recommend posts.

Here we go::::::::::::

In [94]:
#importing relevant libraries

import pandas as pd
import numpy as np
import re

In [95]:
#Datasets Importing 
#post_data consists of post details like post_id, title, category
#user_data consists of user's information
#view_data consists of which user view which post

post_data = pd.read_csv(r'posts.csv')
user_data = pd.read_csv(r'users.csv')
view_data = pd.read_csv(r'views.csv')

In [96]:
post_data.head()

,post_id,title,category,post_type,Unnamed: 4,Unnamed: 5
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog,NaN,NaN
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog,NaN,NaN
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,NaN,NaN
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork,NaN,NaN
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog,NaN,NaN

In [97]:
user_data.head()

                    post_id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [98]:
view_data.head()

,user_id,post_id,timestamp
0,5df49b32cc709107827fb3c7,5ec821ddec493f4a2655889e,2020-06-01T10:46:45.131Z
1,5ed3748576027d35905ccaab,5ed4cbadbd514d602c1531a6,2020-06-01T09:39:20.021Z
2,5ed0defa76027d35905cc2de,5eac305f10426255a7aa9dd3,2020-06-01T08:12:42.682Z
3,5ed0defa76027d35905cc2de,5ed1ff0276027d35905cc60d,2020-06-01T08:10:23.880Z
4,5ed0defa76027d35905cc2de,5ed3820f76027d35905ccac8,2020-06-01T08:08:54.124Z

In [99]:
#Making Recommendation system is not a supervised learning right that consist of label but it is 
# unsupervised learning so we have to add likes or make it valuable that means the user rate it valuable
# in terms of rating like out of 5 okay
# I add up it.

dataframe = pd.DataFrame(view_data)

In [100]:
dataframe["Valuable"] = np.random.randint(1, 6, len(dataframe))

In [101]:
#this is our data right now.
dataframe

,user_id,post_id,timestamp,Valuable
0,5df49b32cc709107827fb3c7,5ec821ddec493f4a2655889e,2020-06-01T10:46:45.131Z,3
1,5ed3748576027d35905ccaab,5ed4cbadbd514d602c1531a6,2020-06-01T09:39:20.021Z,5
2,5ed0defa76027d35905cc2de,5eac305f10426255a7aa9dd3,2020-06-01T08:12:42.682Z,4
3,5ed0defa76027d35905cc2de,5ed1ff0276027d35905cc60d,2020-06-01T08:10:23.880Z,3
4,5ed0defa76027d35905cc2de,5ed3820f76027d35905ccac8,2020-06-01T08:08:54.124Z,3
...,...,...,...,...
1444,5d60098a653a331687083238,5e7a60edcfc8b713f5ac7d82,2020-03-26T19:03:55.284Z,1
1445,5d60098a653a331687083238,5e7a629ccfc8b713f5ac7d84,2020-03-26T19:01:42.384Z,2
1446,5d60098a653a331687083238,5e7b1e65cfc8b713f5ac7d90,2020-03-26T19:00:25.693Z,4
1447,5d60098a653a331687083238,5e7cc074cfc8b713f5ac7db0,2020-03-26T18:49:14.721Z,5
1448,5d60098a653a331687083238,5e1029f22a37d20505da2a79,2020-03-26T18:25:45.637Z,2

In [102]:
# in this cell we are merging view data and the dataframe I have made of post data. in this post id is common.

df = pd.merge(dataframe, post_data ,on='post_id')
df.tail()

,user_id,post_id,timestamp,Valuable,title,category,post_type,Unnamed: 4,Unnamed: 5
1442,5d60098a653a331687083238,5e294fd1c85ab714a7da6643,2020-03-27T08:41:13.123Z,3,Personal growth,Mass Media|International Relations,blog,NaN,NaN
1443,5d610ae1653a331687083239,5e7c78fdcfc8b713f5ac7daa,2020-03-26T22:23:15.619Z,2,Types Of AI.,Computer Technology|Artificial Intelligence,blog,NaN,NaN
1444,5d60098a653a331687083238,5dc065ca24b883670268772f,2020-03-26T19:10:26.525Z,3,Colours of pushkar.,Photography,artwork,NaN,NaN
1445,5d60098a653a331687083238,5e7a5ebdcfc8b713f5ac7d7f,2020-03-26T19:05:50.403Z,3,I won the Art.,Conceptual,artwork,NaN,NaN
1446,5d60098a653a331687083238,5e7a629ccfc8b713f5ac7d84,2020-03-26T19:01:42.384Z,2,3D composition.,Tapestry,artwork,NaN,NaN

In [105]:
#drop the irrevelent features i.e category is important but not for this. and also time_stamp is not 
#important right now.
data = df.drop(['timestamp', 'category'], axis=1)

In [106]:
data.tail()

,user_id,post_id,Valuable,title,post_type,Unnamed: 4,Unnamed: 5
1442,5d60098a653a331687083238,5e294fd1c85ab714a7da6643,3,Personal growth,blog,NaN,NaN
1443,5d610ae1653a331687083239,5e7c78fdcfc8b713f5ac7daa,2,Types Of AI.,blog,NaN,NaN
1444,5d60098a653a331687083238,5dc065ca24b883670268772f,3,Colours of pushkar.,artwork,NaN,NaN
1445,5d60098a653a331687083238,5e7a5ebdcfc8b713f5ac7d7f,3,I won the Art.,artwork,NaN,NaN
1446,5d60098a653a331687083238,5e7a629ccfc8b713f5ac7d84,2,3D composition.,artwork,NaN,NaN

In [107]:
# In this first we have to make a column here that consists of total ratings a title or a post have. 
#like 10 Funny ART Quotes has 15 votes given by users.

combine_post_rating = data.dropna(axis = 0, subset = ['title'])

post_ratingCount = (combine_post_rating.
     groupby(by = ['title'])['Valuable'].
     count().
     reset_index().
     rename(columns = {'Valuable': 'totalValuableCount'})
     [['title', 'totalValuableCount']]
    )
post_ratingCount.head()

                                               title  totalValuableCount
0                                   'The Virtual ME'                   3
1  10 Best Artificial Intelligence (AI) Courses O...                   2
2  10 Best UI UX Design Course & Certification [2...                   2
3          100 Free University Courses Online [2020]                   5
4  20 Best Data Science Certification & Courses f...                   1

In [108]:

#Merge it into our main dataset 
rating_with_totalValuableCount = combine_post_rating.merge(post_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalValuableCount.tail()

,user_id,post_id,Valuable,title,post_type,Unnamed: 4,Unnamed: 5,totalValuableCount
1442,5d60098a653a331687083238,5e294fd1c85ab714a7da6643,3,Personal growth,blog,NaN,NaN,1
1443,5d610ae1653a331687083239,5e7c78fdcfc8b713f5ac7daa,2,Types Of AI.,blog,NaN,NaN,1
1444,5d60098a653a331687083238,5dc065ca24b883670268772f,3,Colours of pushkar.,artwork,NaN,NaN,1
1445,5d60098a653a331687083238,5e7a5ebdcfc8b713f5ac7d7f,3,I won the Art.,artwork,NaN,NaN,1
1446,5d60098a653a331687083238,5e7a629ccfc8b713f5ac7d84,2,3D composition.,artwork,NaN,NaN,1

In [109]:
#It is just how to see data desciption and stuff.
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(post_ratingCount['totalValuableCount'].describe())

count   477.000
mean      3.034
std       2.786
min       1.000
25%       1.000
50%       2.000
75%       4.000
max      18.000
Name: totalValuableCount, dtype: float64

In [110]:
print(post_ratingCount['totalValuableCount'].quantile(np.arange(.9, 1, .01)))

0.900    7.000
0.910    7.000
0.920    7.920
0.930    8.000
0.940    8.440
0.950    9.000
0.960   10.000
0.970   11.000
0.980   12.000
0.990   13.240
Name: totalValuableCount, dtype: float64

In [111]:
#we have to fix a threshold here that machine will recommend post to user that have votes greater than
# the threshold values
popularity_threshold = 13
rating_popular_post = rating_with_totalValuableCount.query('totalValuableCount >= @popularity_threshold')
rating_popular_post.tail()

,user_id,post_id,Valuable,title,post_type,Unnamed: 4,Unnamed: 5,totalValuableCount
673,5e3563348d344822fed4d13a,5ec2215374f7660d73aa1011,3,Women power,artwork,NaN,NaN,13
674,5defd51362624b0135ea9fd2,5ec2215374f7660d73aa1011,1,Women power,artwork,NaN,NaN,13
675,5e7cf05bcfc8b713f5ac7db7,5ec2215374f7660d73aa1011,2,Women power,artwork,NaN,NaN,13
676,5e35a5ed8d344822fed4d13e,5ec2215374f7660d73aa1011,4,Women power,artwork,NaN,NaN,13
677,5d60098a653a331687083238,5ec2215374f7660d73aa1011,5,Women power,artwork,NaN,NaN,13

In [112]:
rating_popular_post.shape

(102, 8)

In [113]:
user_data.head()

                    post_id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [121]:
len(user_data.gender.unique())

3

Making model from here.
we have to make a data matrix like indexes are titles and columns are user id and target is how valuable or how much likes it have.

Use here cosine similiarity to find the simliarity between user and other users.

In [122]:
from scipy.sparse import csr_matrix
rating_popular_post = rating_popular_post.drop_duplicates(['user_id', 'title'])
rating_popular_post_pivot = rating_popular_post.pivot(index = 'title', columns = 'user_id', values = 'Valuable').fillna(0)
rating_popular_post_matrix = csr_matrix(rating_popular_post_pivot.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_popular_post_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [123]:
rating_popular_post_pivot.shape[0]

7

In [124]:
rating_popular_post_pivot

user_id,5d60098a653a331687083238,5d610ae1653a331687083239,5d618359fc5fcf3bdd9a0910,5d6d2bb87fa40e1417a49315,5d7c994d5720533e15c3b1e9,5de50d768eab6401affbb135,5deeef6142a8854bf6eabab9,5defd51362624b0135ea9fd2,5df20f1fee4bb5252b4f5351,5df49b32cc709107827fb3c7,...,5ecdf7397023451e66223784,5ece02427023451e66223861,5ecfbcb376027d35905cbfe5,5ed0bfc176027d35905cc1f8,5ed0d9bc76027d35905cc2c2,5ed0dfec76027d35905cc2ec,5ed0fc0976027d35905cc448,5ed12ae476027d35905cc4a1,5ed232b976027d35905cc689,5ed24d5a76027d35905cc7d7
title,,,,,,,,,,,,,,,,,,,,,
Daaku,1.000,2.000,1.000,1.000,5.000,1.000,5.000,4.000,5.000,4.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Faith in yourself,0.000,2.000,2.000,3.000,4.000,5.000,5.000,3.000,1.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Gangster Style,1.000,1.000,0.000,4.000,5.000,0.000,0.000,0.000,5.000,3.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"Machine Learning”&“Operations"" (MlOps)",5.000,5.000,0.000,4.000,3.000,5.000,2.000,3.000,0.000,5.000,...,3.000,0.000,5.000,1.000,0.000,0.000,0.000,0.000,5.000,0.000
The Waves Have Stood Still,3.000,5.000,0.000,5.000,5.000,1.000,3.000,1.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Understanding Cloud Computing(AWS),2.000,0.000,5.000,0.000,0.000,0.000,5.000,0.000,0.000,0.000,...,2.000,5.000,0.000,5.000,3.000,1.000,3.000,1.000,3.000,5.000
Women power,5.000,0.000,0.000,4.000,3.000,0.000,1.000,1.000,0.000,1.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

Choose a random users and recommend it a title of post by looking their cosine simliarity scores

In [125]:
query_index = np.random.choice(rating_popular_post_pivot.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(rating_popular_post_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

1

In [126]:
# this is our name of user 3 and title he has seen or vote it and our task is to recommend it similiar
#post
rating_popular_post_pivot.index[query_index]

'Faith in yourself'

In [127]:
#Here we go
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(rating_popular_post_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, rating_popular_post_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Faith in yourself:

1: The Waves Have Stood Still, with distance of 0.26940521207549284:
2: Daaku, with distance of 0.2892181863449912:
3: Women power, with distance of 0.4472100071772179:
4: Machine Learning”&“Operations" (MlOps), with distance of 0.501422477989084:
5: Gangster Style, with distance of 0.7060264390366804: